/* _contact.scss */

.contact {
    text-align: center;
    margin: 50px auto;
    padding: 20px;
    // background-color: #f4f4f4;
    color: #333;
  
    .title {
      font-size: 24px;
      margin-bottom: 20px;
    }
  
    .contact-details {
      display: flex;
      flex-direction: column;
  
      button {
        margin: 10px auto; /* Center the buttons horizontally */
        padding: 10px 20px;
        width: 150px; /* Set a fixed width for the buttons */
        font-size: 16px;
        cursor: pointer;
        background-color: #3498db;
        color: #fff;
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #2980b9;
        }
      }
    }
  }
  